* {
    margin: 0px;
    padding: 0px;
}

.apresentacao {
    margin: 12%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
        /* align-items: center; */
        /* height: 300px; */
}

.apresentacao__conteudo {
    width: 680px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
}


body {
    background-color: #ddffdd;
}

h1 {
    font-family: sans-serif;
    color:  #007700;
    font-size: 24px;
}

textarea {
    height: 400px;
    width: 400px;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 20px;
    color: #007700;
}

button {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: 0px;
    background-color: #007700;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
    font-size: 20px;
    color: #009900;
}